In [1]:
import pandas as pd

# create a sample dataframe
data = {'Country': ['USA', 'USA', 'Canada', 'Canada', 'Mexico', 'Mexico', 'Mexico'],
        'Year': [2019, 2020, 2019, 2020, 2019, 2020, 2020],
        'Population': [327, 331, 37, 38, 129, 130, 140]}
df = pd.DataFrame(data)

In [5]:
# group by 'Country' and 'Year', and get the size of each group
grouped_df = df.groupby(['Country', 'Year'])

In [6]:
a = grouped_df.size().reset_index(name='GroupSize')

In [7]:
a

  Country  Year  GroupSize
0  Canada  2019          1
1  Canada  2020          1
2  Mexico  2019          1
3  Mexico  2020          2
4     USA  2019          1
5     USA  2020          1

In [9]:
# filter the rows with a group size greater than or equal to 2
threshold = 2
filtered_df = a[a['GroupSize'] >= threshold]

In [10]:
filtered_df

  Country  Year  GroupSize
3  Mexico  2020          2

In [11]:
# join the original dataframe with the filtered dataframe to get the rows that meet the threshold
result_df = pd.merge(df, filtered_df, on=['Country', 'Year'], how='inner')

# display the resulting dataframe
print(result_df)

  Country  Year  Population  GroupSize
0  Mexico  2020         130          2
1  Mexico  2020         140          2